:root {
  --primary-font-color: #030303;
  --secondary-font-color: #606176;
  --third-font-color: #FEF4F1;
  --primary-blue: #2378FF;
  --secondary-blue: #E8F1FF;
  --primary-orange: #F77E53;
  --secondary-orange: #FEE6DC;
  --primary-yellow: #F6C07A;
  --secondary-yellow: #FEF0C3;
}

* {
  margin: 0;
}

body {
  align-items: center;
  font-family: 'Inter', sans-serif;;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.header {
  width: 1180px;
  height: 680px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0px 125px 0px;
}

.navigation {
  align-items: center;
  color: black;
  justify-content: space-between;
  width: 1170px;
  height: 50px;
}

.navbar {
  list-style: none;
  font-size: 15px;
  width: 336px;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-font-color);
  transition: .3s;
}

.navbar a:hover {
  font-weight: 600;
  color: var(--primary-orange);
}

.signin-btn {
  background-color: var(--secondary-blue);
  border: none;
  border-radius: 12px;
  color: var(--primary-blue);
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  transition: .3s;
  width: 125px;
}

.signin-btn:hover {
  cursor: pointer;
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  text-decoration: underline;
}

.banner-home {
  width: 1180px;
  height: 560px;
  align-items: center;
  justify-content: space-between;
}

.home-text-container {
  width: 521px;
  height: 486px;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  color: var(--primary-font-color);
  height: 216px;
  line-height: 72px;
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  text-align: start;
  width: 521px;
}

.subtitle-20 {
  color: var(--secondary-font-color);
  font-size: 20px;
  height: 96px;
  margin: 0;
  text-align: start;
  width: 447px;
}

.subtitle-18 {
  color: var(--secondary-font-color);
  font-size: 16px;
  height: 21px;
  text-align: start;
  width: 283px;
}

.subtitle-18 a {
  color: var(--primary-blue);
}

.get-started-btn {
  background-color: var(--primary-orange);
  border: none;
  border-radius: 16px;
  color: var(--third-font-color);
  font-size: 18px;
  font-weight: 600;
  height: 62px;
  transition: .3s;
  width: 200px;
}

.get-started-btn:hover {
  box-shadow: 0px 10px 21px -3px rgba(190, 103, 3, 0.2);;
  cursor: pointer;
  text-decoration: underline;
}

.home-img-container {
  width: 694px;
  height: 560px;
  justify-content: flex-end;
}

.partners {
  width: 1180px;
  height: 141px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.partners-title {
  width: 251px;
  height: 141px;
}

.partners-title h1 {
  color: var(--primary-font-color);
  font-size: 62px;
  font-weight: 700;
  width: 170px;
  height: 75px;
}

.partners-title p {
  color: var(--secondary-font-color);
  font-size: 18px;
  width: 251px;
  height: 56px;
}

.universities {
  width: 864px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.how-it-works-1 {
  width: 1180px;
  height: 710px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.hiw-img {
  width: 429px;
  height: 703px;
}

.benefits { 
  width: 607px;
  height: 661px;
}

.benefits-title {
  width: 431px;
  height: 112px;
  color: var(--primary-font-color);
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 60px;
}

.benefits-grid {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.benefits-card {
  width: 256px;
  height: 222px;
  margin-bottom: 45px;
}

.benefits-card .icon {
  margin-bottom: 26px;
}

.benefits-card h1 {
  color: var(--primary-font-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.benefits-card p {
  color: var(--secondary-font-color);
  font-size: 18px;
  line-height: 30px;
}

.how-it-works-2 {
  width: 1020px;
  height: 562px;
  margin-bottom: 130px;
}

.hiw2-title {
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.hiw2-title h1 {
  color: var(--primary-font-color);
  font-size: 44px;
  width: 431px;
  height: 112px;
}

.view-all-btn {
  background-color: white;
  border: 1px solid var(--primary-blue);
  border-radius: 12px;
  color: var(--primary-blue);
  height: 60px;
  font-size: 18px;
  width: 180px;
  transition: .3s;
}

.view-all-btn:hover {
  background-color: var(--primary-blue);
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  color: var(--third-font-color);
  cursor: pointer;
}

.courses-container {
  height: 450px;
  align-items: flex-end;
  justify-content: space-between;
}

.course-card {
  width: 270px;
  height: 390px;
  flex-direction: column;
  justify-content: space-between;
}

.course-card img {
  border-bottom: 16px;
  width: 240px;
  height: 165px;
  align-self: center;
}

.course-card h3 {
  border-bottom: 32px;
  margin-left: 15px;
}

.card-icons-wrapper {
  align-items: center;
  justify-content: flex-start;
}

.card-icons-wrapper .icon {
  margin-left: 10px;
  padding: 5px;
}

.add-to-cart-btn {
  background-color: white;
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 240px;
  height: 40px;
  align-self: center;
  transition: .3s;
}

.add-to-cart-btn:hover {
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  background-color: var(--primary-blue);
  cursor: pointer;
  color: var(--third-font-color);
}

.features {
  width: 1160px;
  height: 620px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.features-text {
  height: 324px;
  width: 476px;
  flex-direction: column;
  justify-content: space-between;
}

.features-text h1 {
  color: var(--primary-font-color);
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
}

.features-text p {
  color: var(--secondary-font-color);
  line-height: 30px;
  font-size: 18px;
}

.feature img {
  width: 589px;
  height: 620px;
}

.testimonial {
  width: 1105px;
  height: 495px;
  margin-bottom: 130px;
}

.testimonial-title h1 {
  color: var(--primary-font-color);
  width: 476px;
  height: 112px;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 60px;
}

.testimonials-container {
  justify-content: space-between;
}

.testimonial-card {
  flex-direction: column;
  justify-content: space-between;
  width: 452px;
  height: 323px;
}

.testimonial-card h3 {
  color: var(--primary-font-color);
  width: 329px;
  height: 56px;
  font-size: 22px;
  font-weight: 500;
}

.testimonial-card p {
  color: var(--secondary-font-color);
  width: 449px;
  height: 120px;
  font-size: 18px;
  line-height: 30px;
}

.testimonial-card h4 {
  font-size: 20px;
}


.testimonial-card h6 {
  font-size: 14px;
}


.testimonial-card img {
  margin-right: 20px;
}

.pricing {
  width: 1125px;
  height: 759px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 130px;
}

.pricing-text {
  align-items: flex-end;
  justify-content: space-between;
}

.pricing-text h1 {
  width: 591px;
  height: 112px;
  font-size: 44px;
  font-weight: 700;
}

.upgrade-btn {
  background-color: white;
  border: 1px solid var(--primary-blue);
  border-radius: 12px;
  color: var(--primary-blue);
  height: 60px;
  font-size: 18px;
  width: 180px;
  transition: .3s;
}

.upgrade-btn:hover {
  background-color: var(--primary-blue);
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  color: var(--third-font-color);
  cursor: pointer;
}

.prices-container {
  justify-content: space-between;
  align-items: flex-end;
}

.price-card {
  width: 305px;
  height: 587px;
  border-radius: 18px;
}

.price-card .top-tag {
  border-radius: 18px 18px 0px 0px;
  width: 305px;
  height: 100px;

}

.top-tag {
  font-weight: 600;
  font-size: 18px;
  color: var(--secondary-blue);
  align-items: center;
  justify-content: center;
}

.color-1 {
  background-color: var(--primary-blue);
}

.color-2 {
  background-color: var(--primary-yellow);
}

.color-3 {
  background-color: var(--primary-orange);
}

.secondary-color-1 {
  background-color: var(--secondary-blue);
}

.secondary-color-2 {
  background-color: var(--secondary-yellow);
}

.secondary-color-3 {
  background-color: var(--secondary-orange);
}

.price h4 {
  color: var(--primary-font-color);
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin: 48px 0px 48px 0px;
}

.price p {
  color: var(--secondary-font-color);
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.buy-btn-1 {
  color: var(--primary-blue);
  font-weight: 600;
  font-size: 20px;
  background-color: var(--secondary-blue);
  margin-top: 83px;
  width: 260px;
  height: 70px;
  border: 1px solid var(--primary-blue);
  border-radius: 14px;
  margin: 83px 22px 0px 23px;
  transition: .3s;
}

.buy-btn-1:hover {
  background-color: var(--primary-blue);
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  color: var(--third-font-color);
  cursor: pointer;
}

.buy-btn-2 {
  color: var(--primary-yellow);
  font-weight: 600;
  font-size: 20px;
  background-color: var(--secondary-yellow);
  margin-top: 83px;
  width: 260px;
  height: 70px;
  border: 1px solid var(--primary-yellow);
  border-radius: 14px;
  margin: 83px 22px 0px 23px;
  transition: .3s;
}

.buy-btn-2:hover {
  background-color: var(--primary-yellow);
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  color: var(--third-font-color);
  cursor: pointer;
}

.buy-btn-3 {
  color: var(--primary-orange);
  font-weight: 600;
  font-size: 20px;
  background-color: var(--secondary-orange);
  margin-top: 83px;
  width: 260px;
  height: 70px;
  border: 1px solid var(--primary-orange);
  border-radius: 14px;
  margin: 83px 22px 0px 23px;
  transition: .3s;
}

.buy-btn-3:hover {
  background-color: var(--primary-orange);
  box-shadow: 0px 10px 21px -3px rgba(0,0,200,0.05);
  color: var(--third-font-color);
  cursor: pointer;
}

footer {
  justify-content: space-between;
  flex-direction: column;
  width: 1160px;
  height: 402px;
}

.footer h3 {
  font-size: 24px;
  color: var(--primary-font-color);
}

.footer p {
  font-size: 16px;
  color: var(--secondary-font-color);
}

.ft-logo {
  width: 285px;
  height: 146px;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  width: 71px;
  height: 248px;
  flex-direction: column;
  justify-content: space-between;
}

.support {
  width: 115px;
  height: 244px;
  flex-direction: column;
  justify-content: space-between;
}

.get-app {
  width: 135px;
  height: 163px;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  justify-content: space-between;
}
